.form-container {
	display: flex;
	margin: 30px auto 0 auto;
	padding: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: cornsilk;
	width: fit-content;
	border-radius: 10px;
	border: 1px outset orange;
}
.select-form,
.input-form,
.search-form,
.reset-form {
	margin: 5px;
	border-radius: 20px;
	height: 25px;
	border: 1px solid darkorange;
	background-color: antiquewhite;
	color: black;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.25s;
	width: 100px;
	margin: 10px;
	transition: 0.25s;
}
.select-form:hover,
.input-form:hover,
.search-form:hover,
.reset-form:hover {
	background-color: rgb(255, 210, 126);
	transition: 0.25s;
}
.input-form {
	border-radius: 10px;
	border: 1px solid orange;
	background-color: aliceblue;
	outline: none;
	padding: 0px 10px 0px 10px;
}

@media (max-width: 400px) {
	.ads-form {
		width: 290px;
		padding: 0;
		justify-content: space-around;
	}
	.select-form,
	.input-form,
	.search-form,
	.reset-form {
		margin: 3px;
	}
	.select-form {
		width: 70px;
	}
	.input-form {
		width: 80px;
	}
}
