.content-container {
	width: 100vw;
}

a {
	border-radius: inherit;
}
ul {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 1rem;
	/* grid-template-columns: auto auto auto; */
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.ads-container {
	overflow: scroll;
	height: 78vh;
}

@media (max-width: 400px) {
	.content-container {
		width: fit-content;
	}
	.ads-form {
		width: 290px;
		padding: 0;
		justify-content: space-around;
	}
	.select-form,
	.input-form,
	.search-form,
	.reset-form {
		margin: 3px;
	}
	.select-form {
		width: 70px;
	}
	.input-form {
		width: 80px;
	}
}

@media (max-width: 715px) {
	.create-ad {
		top: 10px;
		right: -20px;
	}
}
