.back-to-ads {
	margin: 10px;
	display: flex;
	justify-content: flex-start;
}
.back-btn {
	border-radius: 20px;
	height: 40px;
	border: 1px solid darkred;
	background-color: transparent;
	color: white;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.25s;
	width: 100px;
	margin: 10px;
	transition: 0.25s;
}

.back-btn:hover {
	background-color: darkred;
}
.create-ad-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	margin: 0 auto;
}
div[class^='create'] {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
label {
	width: 90px;
	color: black;
}
div[class^='create'] input {
	background: none;
	display: block;
	margin: 10px;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 100px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
}
div[class^='create'] input:focus {
	width: 150px;
	border-color: #2ecc71;
}
.save-btn {
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	min-width: 140px;
}
.save-btn:hover {
	background-color: #2ecc71;
}
